body{
    background-color: rgb(80, 137, 175);
    color: white;
}

header{
    background-color: rgb(0, 189, 202);
    color: white;

}
.cabeçalho2{

    background-color:rgb(0, 189, 202);
        display: flex;
        justify-content:center;
        align-items: center;
    }

.cabeçalho-item{
    
    display: flex;
    justify-content:flex-end;
    align-items: center;
    

}