body{
    background-color: rgb(80, 137, 175);
    color: white;
}

.cabecalho{ 
    
    background-color: rgb(0, 189, 202);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foto-um{
width: 10%;


}