body{
    background-color: rgb(80, 137, 175);
    color: white;
}

.cabeçalho{ 
    
    background-color: rgb(0, 189, 202);
    color: white;

}

.cabeçalho-item{
    
    display: flex;
    justify-content:end
    
    

}